<div class="user-card d-flex flex-column gap-4 px-4 py-5">
    <app-poke-text
        [text]="
            option === 'SHOW'
                ? userData?.name ?? 'Profile image'
                : 'Profile image'
        "
        class="text-center"
        [fontFamily]="option === 'SHOW' ? 'BOLD' : 'MEDIUM'"
        [fontSizeBreakPoints]="
            option === 'SHOW'
                ? ['1.8em', '1.8em', '1.8em']
                : ['1.5em', '1.5em', '1.5em']
        "
    />

    <div class="d-flex justify-content-center align-items-center">
        <div
            class="user-card__media d-flex justify-content-center align-items-center"
        >
            <img [src]="urlImage" alt="image" *ngIf="urlImage !== ''" />
            <mat-icon *ngIf="urlImage === ''">person_outline</mat-icon>
        </div>
    </div>

    <div class="d-flex flex-column gap-3 mt-3" *ngIf="option === 'SHOW'">
        <div class="d-flex flex-wrap justify-content-between gap-2">
            <app-poke-text text="Hobbies:" fontFamily="BOLD" textColor="GRAY" />
            <app-poke-text
                [text]="hobbies"
                fontFamily="REGULAR"
                textColor="GRAY"
            />
        </div>
        <div class="d-flex flex-wrap justify-content-between gap-2">
            <app-poke-text text="Age:" fontFamily="BOLD" textColor="GRAY" />
            <app-poke-text
                [text]="age + ' years old'"
                fontFamily="REGULAR"
                textColor="GRAY"
            />
        </div>
    </div>

    <div
        class="user-card__upload d-flex justify-content-between align-items-center mt-3 p-3 pointer"
        (click)="fileUpload.click()"
        *ngIf="urlImage === '' && option === 'ADD'"
    >
        <ng-container [ngTemplateOutlet]="textTemplate"></ng-container>
        <mat-icon class="user-card__upload-add">cloud_upload_outline</mat-icon>
        <input
            class="d-none"
            #fileUpload
            type="file"
            name="file"
            id="file"
            (change)="uploadFile($event)"
        />
    </div>

    <div
        class="user-card__upload d-flex justify-content-between align-items-center mt-3 p-3"
        *ngIf="urlImage !== '' && option === 'ADD'"
    >
        <ng-container [ngTemplateOutlet]="textTemplate"></ng-container>
        <mat-icon
            class="user-card__upload-remove pointer"
            (click)="removeImage()"
            >close</mat-icon
        >
    </div>
</div>

<ng-template #textTemplate>
    <app-poke-text
        [text]="imageName"
        fontFamily="MEDIUM"
        textColor="DARK_BLUE_5"
/></ng-template>
