<div class="d-flex flex-column mt-3">
    <mat-form-field>
        <input
            matInput
            placeholder="Search by index or name"
            [(ngModel)]="searchByName"
            name="name"
            (ngModelChange)="filterData()"
        />
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <cdk-virtual-scroll-viewport style="height: 300px" itemSize="3">
        <div class="d-flex row w-100">
            <app-poke-item
                *cdkVirtualFor="let item of pokemonsFilters; let i = index"
                class="col-6 col-lg-4"
                [ngStyle]="{
                    opacity: generateOpacity(item),
                    'pointer-events':
                        this.selectedPokemons.length === 3
                            ? onVerifiedPokemon(item)
                                ? 'all'
                                : 'none'
                            : 'all'
                }"
                [data]="item"
                [isPokemonSelected]="onVerifiedPokemon(item)"
                (click)="onSelectedPokemon(item)"
            />
        </div>
    </cdk-virtual-scroll-viewport>

    <div class="col-12 text-center mt-4">
        <app-poke-button
            [content]="'Save'"
            [typeButton]="
                this.selectedPokemons.length === 3 ? 'ENABLED' : 'DISABLED'
            "
            [widthBreakPoints]="['100%', '50%', '50%']"
            (click)="this.selectedPokemons.length === 3 && sendData()"
        />
    </div>
</div>
