<div class="select-pokemon d-flex flex-column py-2 py-md-5">
    <!-- title -->
    <div class="d-flex gap-2">
        <mat-icon class="mt-2 pointer" color="primary" (click)="onNavigation()"
            >keyboard_arrow_left</mat-icon
        >
        <div class="d-flex flex-column">
            <app-poke-text
                text="We’re almost done here!"
                fontFamily="BOLD"
                [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
            />
            <app-poke-text
                text="Check the information and complete the request"
                textColor="GRAY"
            />
        </div>
    </div>
</div>
