<div class="row" *ngIf="isLoading | async">
    <app-poke-loader
        class="position-absolute top-50 start-50 translate-middle"
        [content]="contentLoader"
    ></app-poke-loader>
</div>

<div
    class="select-pokemon d-flex flex-column py-2 py-md-5"
    *ngIf="!(isLoading | async)"
>
    <!-- title -->
    <div class="d-flex gap-2">
        <mat-icon class="mt-2 pointer" color="primary" (click)="onNavigation()"
            >keyboard_arrow_left</mat-icon
        >
        <div class="d-flex flex-column">
            <app-poke-text
                text="We’re almost done here!"
                fontFamily="BOLD"
                [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
            />
            <app-poke-text
                text="Check the information and complete the request"
                textColor="GRAY"
            />
        </div>
    </div>

    <!-- content -->
    <div class="row pt-5">
        <div class="col-0 col-lg-1 d-none d-lg-block"></div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
            <app-user-card [userData]="userData" [option]="'SHOW'" />
        </div>
        <div class="col-0 col-md-2 col-lg-1 col-xl-2 d-none d-md-block"></div>
        <div class="col-12 col-md-5 col-lg-5 mt-4 mt-md-0">
            <app-poke-text
                text="Pokemon"
                fontFamily="MEDIUM"
                [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
            />
            <app-poke-text
                text="Select 3 pokemons to be part of your team"
                textColor="GRAY"
            />

            <!-- pokemons -->
            <div class="d-flex flex-column mt-3">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Search by index or name"
                        [(ngModel)]="searchByName"
                        name="name"
                        (ngModelChange)="filterData()"
                    />
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>

                <cdk-virtual-scroll-viewport
                    style="height: 300px"
                    itemSize="3"
                    *ngIf="!(isLoading | async)"
                >
                    <div class="d-flex row w-100">
                        <app-poke-item
                            *cdkVirtualFor="
                                let item of pokemonsList;
                                let i = index
                            "
                            class="col-6 col-lg-4"
                            [ngStyle]="{
                                opacity: generateOpacity(item),
                                'pointer-events':
                                    this.selectedPokemons.length === 3
                                        ? onVerifiedPokemon(item)
                                            ? 'all'
                                            : 'none'
                                        : 'all'
                            }"
                            [data]="item"
                            [isPokemonSelected]="onVerifiedPokemon(item)"
                            (click)="onSelectedPokemon(item)"
                        />
                    </div>
                </cdk-virtual-scroll-viewport>

                <div class="col-12 text-center mt-4">
                    <app-poke-button
                        [content]="'Save'"
                        [typeButton]="
                            this.selectedPokemons.length === 3
                                ? 'ENABLED'
                                : 'DISABLED'
                        "
                        [widthBreakPoints]="['100%', '50%', '50%']"
                        (click)="this.selectedPokemons.length === 3 && onNext()"
                    />
                </div>
            </div>
        </div>
        <div class="col-0 col-lg-1 d-none d-lg-block"></div>
    </div>
</div>
