<div class="profile-config d-flex flex-column py-2 py-md-5">
    <!-- title -->
    <div class="d-flex gap-2">
        <mat-icon class="mt-2 pointer" color="primary" (click)="onNavigation()"
            >keyboard_arrow_left</mat-icon
        >
        <div class="d-flex flex-column">
            <app-poke-text
                text="Hello! We will configure your profile"
                fontFamily="BOLD"
                [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
            />
            <app-poke-text text="We want to know you better" textColor="GRAY" />
        </div>
    </div>

    <!-- content -->
    <div class="row pt-5">
        <div class="col-0 col-lg-1 col-xl-2 d-none d-lg-block"></div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
            <app-user-card (file)="resource = $event" [userData]="userData" />
        </div>
        <div class="col-0 col-md-2 d-none d-md-block"></div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 mt-4 mt-md-0">
            <app-poke-text
                text="Your information"
                fontFamily="MEDIUM"
                [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
            />
            <app-poke-text
                text="Complete the following information<br/>to complete your profile"
                textColor="GRAY"
            />

            <!-- form -->
            <div class="mt-4">
                <form [formGroup]="userDataForm">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Hobbies</mat-label>
                        <mat-select multiple formControlName="hobbies">
                            <mat-option *ngFor="let h of hobbies" [value]="h">{{
                                h
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Date of Birth</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            formControlName="dateBirth"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>DUI</mat-label>
                        <input matInput formControlName="document" />
                    </mat-form-field>

                    <div class="col-12 text-center">
                        <app-poke-button
                            [content]="'Continue'"
                            [typeButton]="
                                userDataForm.invalid ? 'DISABLED' : 'ENABLED'
                            "
                            [widthBreakPoints]="['100%', '50%', '50%']"
                            (click)="onNext()"
                        />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-0 col-lg-1 col-xl-2 d-none d-lg-block"></div>
    </div>
</div>
