@import "../../../../core/theming/colors.scss";

.pokemon-detail {
    &__content {
        &-media {
            text-transform: capitalize;

            img {
                max-height: 276px;
            }
        }

        &-moves__item {
            background-color: $dark-blue;
            border-radius: 10px;
            text-transform: capitalize;
        }

        &-evolutions__item {
            background-color: $dark-blue;
            border-radius: 10px;
            text-transform: capitalize;
            img {
                max-height: 64px;
            }
        }
    }
}

:host ::ng-deep mat-progress-bar {
    height: 40px;
    border-radius: 10px;
}

:host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
    border-top-width: 40px;
}
