<div class="row" *ngIf="isLoading | async">
    <app-poke-loader
        class="position-absolute top-50 start-50 translate-middle"
    ></app-poke-loader>
</div>

<div
    class="pokemon-detail d-flex flex-column py-2 py-md-5"
    *ngIf="!(isLoading | async)"
>
    <div
        class="d-flex align-items-center gap-2 pointer"
        (click)="onRedirectToList()"
    >
        <mat-icon color="primary">keyboard_arrow_left</mat-icon>
        <app-poke-text
            text="Pokemon Detail"
            fontFamily="BOLD"
            [fontSizeBreakPoints]="['1.8em', '1.8em', '1.8em']"
        />
    </div>

    <div class="pokemon-detail__content row pt-0 pt-5 w-100">
        <div class="pokemon-detail__content-media col-12 col-lg-4">
            <app-poke-media [pokeData]="pokemon" />
        </div>

        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <app-poke-text
                        text="Stats"
                        fontFamily="BOLD"
                        textColor="GRAY"
                        [fontSizeBreakPoints]="['1.5em', '1.5em', '1.5em']"
                    />
                    <app-poke-media
                        [pokeData]="pokemon"
                        [option]="'STATS'"
                        [showBaseStat]="true"
                        [element]="firstElement"
                    />
                </div>

                <div class="pokemon-detail__content-moves col-12 col-lg-6">
                    <app-poke-text
                        text="Moves"
                        fontFamily="BOLD"
                        textColor="GRAY"
                        [fontSizeBreakPoints]="['1.5em', '1.5em', '1.5em']"
                    />

                    <cdk-virtual-scroll-viewport
                        style="height: 300px"
                        itemSize="10"
                    >
                        <div class="d-flex flex-row flex-wrap gap-3">
                            <div
                                class="pokemon-detail__content-moves__item px-3 py-1"
                                *cdkVirtualFor="let m of moves"
                            >
                                <app-poke-text [text]="m" textColor="WHITE" />
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
        </div>

        <div class="pokemon-detail__content-evolutions col-12 pt-4 pt-lg-0">
            <app-poke-text
                text="Evolutions"
                fontFamily="BOLD"
                textColor="GRAY"
                [fontSizeBreakPoints]="['1.5em', '1.5em', '1.5em']"
            />

            <div class="row">
                <div
                    class="col-12 col-sm-6 col-lg-4 pb-3 pb-lg-0"
                    *ngFor="let e of evolutions"
                >
                    <div
                        class="pokemon-detail__content-evolutions__item d-flex flex-row align-items-center gap-3 p-3"
                        [ngClass]="['ele-bg-' + firstElement]"
                    >
                        <app-item-detail [dataEvolution]="e" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
