// border colors to stats for each pokemon
.progress-bar-normal .mdc-linear-progress__bar-inner {
    border-color: $ele-normal !important;
}

.progress-bar-fighting .mdc-linear-progress__bar-inner {
    border-color: $ele-fighting !important;
}

.progress-bar-flying .mdc-linear-progress__bar-inner {
    border-color: $ele-flying !important;
}

.progress-bar-poison .mdc-linear-progress__bar-inner {
    border-color: $ele-poison !important;
}

.progress-bar-ground .mdc-linear-progress__bar-inner {
    border-color: $ele-ground !important;
}

.progress-bar-rock .mdc-linear-progress__bar-inner {
    border-color: $ele-rock !important;
}

.progress-bar-bug .mdc-linear-progress__bar-inner {
    border-color: $ele-bug !important;
}

.progress-bar-ghost .mdc-linear-progress__bar-inner {
    border-color: $ele-ghost !important;
}

.progress-bar-steel .mdc-linear-progress__bar-inner {
    border-color: $ele-steel !important;
}

.progress-bar-fire .mdc-linear-progress__bar-inner {
    border-color: $ele-fire !important;
}

.progress-bar-water .mdc-linear-progress__bar-inner {
    border-color: $ele-water !important;
}

.progress-bar-grass .mdc-linear-progress__bar-inner {
    border-color: $ele-grass !important;
}

.progress-bar-electric .mdc-linear-progress__bar-inner {
    border-color: $ele-electric !important;
}

.progress-bar-psychic .mdc-linear-progress__bar-inner {
    border-color: $ele-psychic !important;
}

.progress-bar-ice .mdc-linear-progress__bar-inner {
    border-color: $ele-ice !important;
}

.progress-bar-dragon .mdc-linear-progress__bar-inner {
    border-color: $ele-dragon !important;
}

.progress-bar-dark .mdc-linear-progress__bar-inner {
    border-color: $ele-dark !important;
}

.progress-bar-fairy .mdc-linear-progress__bar-inner {
    border-color: $ele-fairy !important;
}

.progress-bar-unknown .mdc-linear-progress__bar-inner {
    border-color: $ele-unknown !important;
}

.progress-bar-shadow .mdc-linear-progress__bar-inner {
    border-color: $ele-shadow !important;
}
