@import "../../../core/theming/colors.scss";

.text-color-white {
    color: $white;
}

.text-color-dark-blue {
    color: $dark-blue;
}

.text-color-dark-blue-2 {
    color: $dark-blue;
}

.text-color-dark-blue-5 {
    color: $dark-blue-5;
}

.text-color-gray {
    color: $gray;
}

.text-color-gray-2 {
    color: $gray-2;
}

.text-color-gray-3 {
    color: $gray-3;
}

.text-color-gray-4 {
    color: $gray-4;
}

.text-color-black {
    color: $black;
}
