<p
    [ngClass]="{
        'text-color-white': textColor === 'WHITE',
        'text-color-dark-blue': textColor === 'DARK_BLUE',
        'text-color-dark-blue-2': textColor === 'DARK_BLUE_2',
        'text-color-gray': textColor === 'GRAY',
        'text-color-gray-2': textColor === 'GRAY_2',
        'text-color-gray-3': textColor === 'GRAY_3',
        'text-color-gray-4': textColor === 'GRAY_4'
    }"
    [ngStyle]="{
        margin: margin,
        fontSize: fontSize,
        fontWeight:
            fontFamily === 'NORMAL'
                ? 'normal'
                : fontFamily === 'REGULAR'
                ? '400'
                : fontFamily === 'MEDIUM'
                ? '500'
                : '700'
    }"
    [innerHTML]="text"
></p>
