@import "../../../core/theming/colors.scss";

.poke-item {
    &__content,
    &__content-data,
    &__content-types__item {
        border-radius: 10px;
    }

    &__content-data,
    &__content-types__item {
        text-transform: capitalize;
    }

    &__content {
        background-color: $gray-3;

        &-media img {
            height: 75px;
        }

        &-data {
            background-color: $dark-blue;
        }

        &-types__item {
            color: $dark-blue;
            background-color: $white;
        }
    }
}
