<div
    class="navbar d-flex flex-row justify-content-between align-items-center position-fixed"
>
    <div class="container navbar__items">
        <img
            class="pointer"
            src="assets/images/logo.png"
            alt="logo"
            (click)="onNavigation()"
        />
        <div class="navbar__items" *ngIf="isLoggedIn">
            <mat-form-field class="custom-field">
                <mat-select
                    panelClass="example-long-panel"
                    [(ngModel)]="selectedOption"
                    (ngModelChange)="onChangeSelection()"
                >
                    <mat-option value="PROFILE">{{ firstName }}</mat-option>
                    <mat-option *ngFor="let s of select" [value]="s.option">{{
                        s.value
                    }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
