@import "../../../core/theming/colors.scss";

.btn {
    border-radius: 10px;
    cursor: pointer;
    line-height: 1.8;
    height: 45px;
    border: 0;

    &.btn-enabled {
        background-color: $dark-blue;
        color: $white;

        &:hover {
            background-color: $dark-blue-2;
            transition: 0.3s ease;
        }
    }

    &.btn-disabled {
        background-color: $gray-4;
        color: $gray;
        cursor: default;
    }

    &.btn-outline {
        background-color: $white;
        color: $dark-blue;
        border: 2px solid $dark-blue;

        &:hover {
            background-color: $dark-blue;
            color: $white;
            transition: 0.3s ease;
        }
    }
}

:host ::ng-deep mat-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
}
