<button
    class="btn p-2"
    [ngStyle]="{
        width: customWidth,
        'font-size': fontSize,
        fontWeight:
            fontFamily === 'NORMAL'
                ? 'normal'
                : fontFamily === 'REGULAR'
                ? '400'
                : fontFamily === 'MEDIUM'
                ? '500'
                : '700'
    }"
    [ngClass]="{
        'btn-enabled': typeButton === 'ENABLED',
        'btn-disabled': typeButton === 'DISABLED',
        'btn-outline': typeButton === 'OUTLINE'
    }"
    type="button"
    [disabled]="isDisabled"
>
    <span> {{ content }}</span>
</button>
