<button
    class="btn py-2 px-4"
    [ngStyle]="{
        width: customWidth,
        'font-size': fontSize,
        fontWeight:
            fontFamily === 'NORMAL'
                ? 'normal'
                : fontFamily === 'REGULAR'
                ? '400'
                : fontFamily === 'MEDIUM'
                ? '500'
                : '700'
    }"
    [ngClass]="{
        'btn-enabled': typeButton === 'ENABLED',
        'btn-disabled': typeButton === 'DISABLED',
        'btn-outline': typeButton === 'OUTLINE'
    }"
    type="button"
    [disabled]="isDisabled"
>
    <div class="d-flex justify-content-center align-items-center gap-2">
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        <span>{{ content }}</span>
    </div>
</button>
